<h1>City Library</h1>



<% @city = request.location.city %><br>
<% @state = request.location.state %><br>



<% @maplocation.address = "Library #{@city}  #{@state}" %>


<%= render 'form' %>


<%= link_to 'Back', books_path(params[:book_id]) %>    


