<p id="notice"><%= notice %></p>


<p>
  <strong>Address:</strong>
  <%= @maplocation.address %>
</p>


<%= image_tag "http://maps.google.com/maps/api/staticmap?size=450x300&sensor=false&zoom=16&markers=#{@maplocation.latitude}%2C#{@maplocation.longitude}" %> 
<br>

<p>
  Distance from your location to city library is 
  <% result = request.location %>    
  <%= @maplocation.distance_to(result.address).round(2) %> miles
</p>



