<h1>New Purchase</h1>

<% @purchase.user_id = current_user.id %>
<% @purchase.book_id = params[:book_id] %>
<% @purchase.quantity = 1 %>
<% @purchase.date = Date.today %>

<%= render 'form' %>

<% if params[:book_id].present? %>
    <%= link_to 'Back', book_path(params[:book_id]) %>    
<% else %>
    <%= link_to 'Back', purchases_path %>
<% end %>
