<h1>New Purchase</h1>

<%= render 'form' %>

<% if params[:book_id].present? %>
    <%= link_to 'Back', book_path(params[:book_id]) %>    
<% else %>
    <%= link_to 'Back', purchases_path %>
<% end %>
