<h1>New Review</h1>

<%= render 'form' %>

<% if params[:book_id].present? %>
    <%= link_to 'Back', book_path(params[:book_id]) %>    
<% else %>
    <%= link_to 'Back', reviews_path %>
<% end %>




